a {
  text-decoration: none;
}

.signin {
  min-height: 100vh;
  padding: 1em;
  display: flex;
  align-items: center;
  margin-left: 15%;
}

.signin__heading {
  text-align: center;
  font-size: 2.75rem;
  color: var(--clr-neutral-800);
  margin-bottom: 1em;
}

.signin__form {
  background-color: var(--clr-neutral-200);
  padding: 1em;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
}

.signin__fieldset {
  border: none;
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  transition: opacity 0.3s ease;
}

.signin__fieldset.hidden {
  visibility: hidden;
  opacity: 0;
}

.signin__option-btn {
  background-color: transparent;
  display: block;
  width: 100%;
  border: 2px solid var(--clr-neutral-300);
  border-radius: 4px;
  color: var(--clr-neutral-900);
  padding: 0.5em 0.75em;
  font-size: 2.25rem;
  cursor: pointer;
}

@media screen AND (max-width: 650px) {
  .signin {
    margin-left: 0;
    justify-content: center;
  }
}
