.requests {
  padding: 1em;
  margin-top: 2em;
  min-height: 70vh;
}

.requests__heading {
  text-align: center;
  margin-bottom: 1em;
}

.requests__fieldset {
  border: none;
}

.requests__filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  max-width: 1200px;
  width: 100%;
  margin: 1em auto;
}

.requests__filter label {
  margin-right: 0.5em;
}

.requests__filter input {
  padding: 0.5em 0.75em;
  background-color: hsl(var(--clr-neutral-400), 0.2);
  border: none;
  border-radius: 100vmax;
  border: 1px solid hsl(var(--clr-neutral-300));
}

.requests__filter input:focus {
  outline: none;
}

.requests__filter select {
  background-color: hsl(var(--clr-neutral-200));
  padding: 0.25em;
  border: 1px solid hsl(var(--clr-neutral-300));
  border-radius: 4px;
}

.requests__list {
  list-style-type: none;
  max-width: 1200px;
  width: 100%;
  margin: 1em auto;
  display: grid;
  gap: 0.5em;
}

.requests__popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transform: scale(0.9);
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 1em;
}

.requests__popup--active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.requests__popup-box {
  transform: scale(0.9);
  opacity: 0;
  padding: 1em;
  background-color: hsl(var(--clr-neutral-200));
  border-radius: 8px;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.8);
  transition: transform 0s linear, opacity 0.2s ease, visibility 0s 0.2s linear;
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 60rem;
  max-width: 100rem;
  display: flex;
  flex-direction: column;
}

.requests__popup-content {
  flex-grow: 1;
  overflow: auto;
  margin: 1em 0;
  padding: 1em 0;
  box-shadow: 0 6px 12px -8px rgba(0, 0, 0, 0.8) inset;
}

.requests__popup-spotify {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
  padding: 0 1em;
}

.requests__popup-spotify-image {
  max-width: 16rem;
}

.requests__popup-spotify-img {
  width: 100%;
  border-radius: 4px;
}

.requests__popup-spotify a {
  display: block;
  margin: auto 0;
}

.requests__popup-spotify button {
  background-color: transparent;
  border: 1px solid hsl(var(--clr-neutral-400));
  border-radius: 4px;
  padding: 0.5em 0.75em;
}

.requests__popup-spotify button:hover {
  cursor: pointer;
  background-color: hsl(var(--clr-neutral-900), 0.1);
}

.requests__popup-footer {
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
}

.requests__popup-footer-btn {
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  padding: 0.5em 0.75em;
  border: none;
  border-radius: 4px;
}

.requests__popup-footer-btn:hover {
  cursor: pointer;
}

.requests__popup-footer-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: hsl(var(--clr-neutral-300)) !important;
}

.requests__popup-reject-btn {
  background-color: hsl(var(--clr-neutral-300));
}
.requests__popup-reject-btn:hover {
  background-color: hsl(var(--clr-neutral-400));
}
.requests__popup-accent-btn {
  background-color: hsl(var(--clr-primary-400));
}
.requests__popup-accent-btn:hover {
  background-color: hsl(var(--clr-primary-500));
}
.requests__popup-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  font-size: 3rem;
  background-color: transparent;
  border: none;
  color: hsl(var(--clr-neutral-900));
  cursor: pointer;
}

.requests__popup--active .requests__popup-box {
  transform: scale(1);
  opacity: 1;
  transition: transform 0.2s cubic-bezier(0.67, 0.42, 0.5, 1.49), opacity 0.2s ease, visibility 0s 0s linear;
}

@media screen AND (max-width: 500px) {
  .requests__btn {
    grid-template-columns: 2fr 1fr;
  }
}
