.header {
  padding: 2em;
}

.header__title {
  text-align: center;
  color: var(--clr-neutral-800);
  font-weight: 500;
  text-transform: uppercase;
}

.main {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  padding: 0em 1em;
}
