.requests {
  display: flex;
  flex-direction: column;
}

.requests__heading {
  margin-bottom: 1em;
}

.requests__header {
  display: flex;
}

.requests__list {
  list-style-type: none;
}

.requests__item {
  display: flex;
  margin: 1em 0;
}

.requests__thumbnail {
  max-width: 8em;
  margin-right: 1em;
}

.requests__thumbnail img {
  border-radius: 0.5em;
}

.requests__fieldset {
  border: none;
}

.requests__play-range {
  width: 100%;
  position: relative;
  isolation: isolate;
  margin: 1em 0;
}

.requests__play-range-input {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  width: 100%;
  display: block;
  background-color: var(--clr-neutral-300);
  height: 12px;
}

.requests__play-range-input:focus {
  outline: none;
}

.requests__play-range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
}

.requests__play-range-input--duration::-webkit-slider-thumb {
  width: var(--thumb-width);
  height: 14px;
  background-color: var(--clr-neutral-700);
  clip-path: polygon(50% 92%, 70% 90%, 100% 0, 100% 100%, 0 100%, 0 0, 30% 92%);
}

.requests__play-range-input--duration::-moz-range-thumb {
  width: var(--thumb-width);
  height: 20px;
  background-color: var(--clr-neutral-700);
}
.requests__play-range-input--duration {
  margin: 0 auto;
  width: calc(100% - 20px);
}

.requests__play-range-input--scrubber {
  width: 100%;
  height: 0px;
  background-color: transparent;
  margin-top: 24px;
  height: 24px;
}

.requests__play-range-input--scrubber::-webkit-slider-thumb {
  background-color: var(--clr-neutral-700);
  border-radius: 30% 30% 0% 0%;
  clip-path: polygon(50% 0%, 100% 35%, 50% 100%, 0 35%);
  width: 20px;
  height: 24px;
  cursor: pointer;
}

.requests__play-range-input--scrubber::-moz-range-thumb {
  background-color: var(--clr-neutral-700);
  border-radius: 30% 30% 0% 0%;
  clip-path: polygon(50% 0%, 100% 35%, 50% 100%, 0 35%);
  width: 20px;
  height: 24px;
  cursor: pointer;
}

.requests__play-btns {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 10px 0 10px;
}

.requests__play-btn {
  background-color: var(--clr-neutral-300);
  color: var(--clr-neutral-900);
  font-size: 2.5rem;
  padding: 0.25em 0.5em;
  border: none;
  font-weight: 600;
  border-radius: 2px;
}

.requests__play-btns-group {
  display: flex;
  gap: 4px;
}

.requests__play-time {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}

.requests__thumbnail-image {
  width: 100%;
}

.requests__channel {
  color: var(--clr-neutral-800);
}

.requests__select-btn {
  margin-left: auto;
  background-color: transparent;
  border: 1px solid var(--clr-neutral-400);
}

.requests__btns {
  display: flex;
  justify-content: flex-end;
}

.requests__btn {
  font-size: 2rem;
  padding: 0.5em 0.75em;
}
