.requests {
  display: flex;
  flex-direction: column;
}

.requests__heading {
  margin-bottom: 1em;
}

.requests__header {
  display: flex;
}

.requests__list {
  list-style-type: none;
}

.requests__item {
  display: flex;
  margin: 1em 0;
}

.requests__thumbnail {
  max-width: 8em;
  margin-right: 1em;
}

.requests__thumbnail-image {
  width: 100%;
}

.requests__channel {
  color: var(--clr-neutral-800);
}

.requests__select-btn {
  margin-left: auto;
  background-color: transparent;
  border: 1px solid var(--clr-neutral-400);
}

.requests__btns {
  display: flex;
  justify-content: flex-end;
}

.requests__btn {
  font-size: 2rem;
  padding: 0.5em 0.75em;
}
