.myrequests {
  padding: 1em;
  min-height: 70vh;
  max-width: 100rem;
  width: 100%;
  margin: 0 auto;
}

.myrequests__header {
  padding: 2em 0;
  text-align: center;
}

.myrequests__heading {
  margin-bottom: 0.5em;
}

.myrequests__subtitle {
  color: hsl(var(--clr-neutral-700));
}

.myrequests__list {
  list-style-type: none;
}

.myrequests__info {
  padding: 2em 0.5em;
  text-align: center;
  border-top: 1px solid hsl(var(--clr-neutral-200), 0.5);
}

.myrequests__item {
  background-color: hsl(var(--clr-neutral-200));
  padding: 0.5em;
  margin-top: 0.5em;
  border-radius: 4px;
  display: flex;
  min-height: 14rem;
}

.myrequests__item-image {
  max-width: 14rem;
}

.myrequests__item-img {
  width: 100%;
  border-radius: 8px;
  margin: auto 0;
  display: block;
}

.myrequests__item-content {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-left: 1em;
  padding: 0.5em 1em 0.5em 0;
  position: relative;
}

.myrequests__item-options {
  position: absolute;
  top: 0.25em;
  right: 0;
}

.myrequests__item-cancel {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  color: hsl(var(--clr-neutral-800));
  border: none;
  font-size: 2.25rem;
  padding: 0 0.5em;
  z-index: 1;
}

.myrequests__item-cancel:hover {
  cursor: pointer;
  color: hsl(var(--clr-neutral-900));
}

.myrequests__item-options-list {
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: 1.5em;
  background-color: hsl(var(--clr-neutral-300));
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  list-style-type: none;
  box-shadow: 0 0 16px -1px rgba(0, 0, 0, 0.75);
  z-index: 2;
  transform: translate(5%, -25%);
  transition: opacity 0.2s ease, transform 0.2s ease, visibility 0s 0.2s linear;
}

.myrequests__item-options-item {
  padding: 0.25em 0.5em;
  width: max-content;
  max-width: 32rem;
}

.myrequests__item-options-item:hover {
  background-color: hsl(var(--clr-neutral-400));
}

.myrequests__item-options-item button {
  background-color: transparent;
  display: block;
  border: none;
  cursor: pointer;
  padding: 0.25em 0;
}

.myrequests__item-cancel:focus + .myrequests__item-options-list,
.myrequests__item-cancel:focus-within + .myrequests__item-options-list {
  visibility: visible;
  opacity: 1;
  transform: translate(0%, -25%);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.myrequests__item-info {
  display: flex;
  flex-direction: column;
}

.myrequests__item-info p:first-child {
  font-weight: 600;
}

.myrequests__item-info p:nth-child(2) {
  color: hsl(var(--clr-neutral-700));
}

.myrequests__item-info p:last-child {
  margin-top: auto;
  font-size: 1.75rem;
  color: hsl(var(--clr-neutral-800));
}

.myrequests__item-status {
  text-transform: capitalize;
  margin: auto 0;
  text-align: right;
}

.myrequests__item-status a {
  color: inherit;
}
