.admin__users {
  max-width: 170rem;
  width: 100%;
  padding: 4em 1em;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 1em;
}

.admin__section {
  margin: 1em 0;
}

.admin__heading {
  margin-bottom: 1em;
}

.admin__section fieldset {
  border: none;
}

.admin__actions {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 1em;
}

.admin__action {
  padding: 1em;
  border-radius: 8px;
  background-color: hsl(var(--clr-neutral-200));
  width: 100%;
  max-width: 50rem;
}

.admin__action h4 {
  text-align: center;
}

.admin__fieldset {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.admin__fieldset ul {
  list-style-type: none;
}

.admin__permissions-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2em;
}

.admin__users-list {
  margin: 1em 0;
}

.admin__users-list-item {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 1fr 1fr;
  column-gap: 1em;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid hsl(var(--clr-neutral-200));
  padding: 0.5em 0;
}

.admin__users-list-item:first-child {
  font-weight: 600;
  border-bottom-color: hsl(var(--clr-neutral-300));
  padding: 0;
}

.admin__users-list-item:first-child button {
  background-color: transparent;
  border: none;
  text-align: left;
  color: hsl(var(--clr-neutral-900));
  font-size: 2rem;
  font-weight: inherit;
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
}

.admin__users-list-item:first-child button:hover {
  cursor: pointer;
  background-color: hsl(var(--clr-neutral-200), 0.75);
}

.admin__users-list-item:nth-child(even) {
  background-color: hsl(var(--clr-neutral-200), 0.4);
}

.admin__users-list-item button {
  color: inherit;
  background-color: hsl(var(--clr-neutral-200));
  padding: 0.25em;
  font-size: 2rem;
  border: none;
  border-radius: 8px;
}

.admin__users-list-item button:hover {
  cursor: pointer;
  background-color: hsl(var(--clr-neutral-300));
}

.admin__page-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin__page-btns button {
  font-size: 2rem;
  color: inherit;
  padding: 0.25em 0.5em;
  background-color: hsl(var(--clr-neutral-200));
  border: 1px solid hsl(var(--clr-neutral-300));
  border-radius: 4px;
  cursor: pointer;
}

.admin__page-btns button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.admin__action input {
  background-color: hsl(var(--clr-neutral-700), 0.1);
  border: 1px solid hsl(var(--clr-neutral-300));
  border-radius: 100vmax;
  padding: 0.5em 0.75em;
  font-size: 2rem;
  color: hsl(var(--clr-neutral-900));
}

.admin__form button[type="submit"] {
  width: 100%;
  padding: 0.5em 0.75em;
  font-size: 2rem;
  color: hsl(var(--clr-neutral-900));
  border-radius: 100vmax;
  background-color: hsl(var(--clr-neutral-300));
  border: none;
}

.admin__users-search {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.admin__users-search label {
  margin-right: 0.5em;
}
.admin__users-search input {
  font-size: 2rem;
  color: inherit;
  background-color: hsl(var(--clr-neutral-200), 0.75);
  border: none;
  border-radius: 100vmax;
  padding: 0.5em 0.75em;
}

.admin__users-search button {
  color: inherit;
  background-color: hsl(var(--clr-neutral-300));
  padding: 0.5em 0.75em;
  font-size: 2rem;
  border: none;
  border-radius: 8px;
}

.admin__danger {
  max-width: 200rem;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
}

.admin__danger-recycle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin__danger-heading {
  font-size: 2.5rem;
  font-weight: 600;
  color: hsl(var(--clr-neutral-800));
}

.admin__danger-recycle-btn {
  font-size: 3rem;
  padding: 0.5em 0.75em;
  color: inherit;
  background-color: red;
  font-weight: 600;
  border-radius: 100vmax;
}

.admin__danger-recycle-btn:hover {
  cursor: pointer;
}

.admin__danger-section {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid hsl(var(--clr-neutral-200), 0.4);
}

@media screen AND (max-width: 1250px) {
  .admin__users {
    grid-template-columns: 1fr;
  }

  .admin__actions {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
}
